
    @for (item of $generation |async; track item.name){
      <h1>Pokedex</h1>
     <!-- @if(item.name  === ($name | async)){
       -->
       <!-- @for (itemimg of  $pokemon ; track itemimg) { -->
       <div class="pokedex" id="pokedex" (click)="getPokemonByName(item.name)" [routerLink]="['/detail',item.name]">
         <div class="card" (click)="getPokemonByName(item.name)"

         >
         <div class="poke-img">
           <!-- <img src="{{$sprites}}"/> -->
         </div>
         <div class="poke-info">
           <span class="poke-no">{{item.name}}</span>

         </div>
       </div>
       </div>
      }
     <!-- } -->
    <!-- } -->

