



h1{
  text-align : center;

}

.pokedex{
  display : flex;
  flex-wrap : wrap;
  align-items : center;
  justify-content : center;
  max-width : 1200px;
  margin : 0 auto;
}

.card{
  background-color: brown;
  border-radius : 20px;
  display: flex;
  flex-direction : column;
  padding: 10px;
  margin : 20px;
  text-align :center;
  box-shadow :0 3px 15px rgba(100,100,100,0.5);
}

.card .poke-img{
  background : white;
  border: 1px solid black;
  border-radius: 50%;
  margin-top : 20px;
  width :120px;
  height : 120px;
}

.poke-img img{
  margin-top : 20px;
  max-width : 90%;
}

.poke-info
{
  margin-top : 10px
}
